/* Chat containers */

.container {
  background-color: #131215;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;

}


.comandos{
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.button{
  background-color: rebeccapurple;
  color: white;
  border-radius: 10px;
  border: none;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  height: 50px;    
}



.chat{
  width: 100vw;
  display: flex;
  flex-direction: column;
  
  margin-bottom: 20px;
  align-items: center;
  overflow-y: scroll;

  
}

.conversa{
  width: 50%;
  height: 90%;

}

.mensagem_esquerda{
  text-align: left;
  color: white;
  font-size: 20px;
}

.mensagem_direita{
  text-align: right;
  color: white;
  font-size: 20px;
}

.header{
  width: 100%;
  background-color: #131215;
  text-align: center;
}
.headerHeader{
height: 5vh;
}

.h1{
  font-size: 1.5em;
  font-weight: bold;

}

.form{
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  gap: 10px;
}
.input{
  width: 50%;
  border-radius: 10px;
}